.main_about {
    display: flex;
align-items: center;
justify-content: center;
min-height: 80vh;
}
.container_about {
    display: flex;
    width: 80%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}
.boxImage_about {
    width: 40%;
        display: flex;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    margin-right: 30px;
   
}

.boxImage_about img{
   width: 300px;
   height: 300px;
   border-radius: 50px;
}

.boxText_about {
    width: 50%;
   height: 300px;
   padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
    .boxText_about  div {
        display: flex;
    }

.boxText_about h1, p {
    
    color: black;
    
}
.boxText_about  span {
    font-weight: 500;
    color:rgb(201, 201, 201) ;
}
.boxText_about h1 {
    width: 100%;
    margin: 10px;
      font-weight: 700;
  background: radial-gradient(circle, dodgerblue, rgb(2, 202, 216));
  background-clip: text;
  color: transparent;

  animation: moments 15s linear infinite;
  background-size: 300% 300%;
    
}
.boxText_about p {
    color: rgb(83, 83, 83);
    margin: 5px;
    max-width: 80%;
    
}

.fa_icon {
    color: black;
    fill: black;
}



@keyframes moments {
    0% {
        background-position: 0% 0%;

    }

    50% {
        background-position: 100% 100%;
    }

    0% {
        background-position: 0% 0%;
    }
}
