.pf_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 650px;
    padding: 20px;
      width: 600px;
}

.th_container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    
}

.box_post,
.box_feed{

    width: 750px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 25px;
}
.box_feed{
    flex-direction: column;
    
}

.box_trending_hashtags {
display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 25px;
flex-direction: column;

}

.trendings_title{
    text-align: center;
    font-size: .8em;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: rgb(156, 156, 156);
    padding: 5px;
    width: 100%;
        border: solid 1px rgb(212, 212, 212);
    
}

.hash_list{
background-color: rgb(253, 253, 253);
  width: 100%;
border-radius: 25px;
 border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 5px;
   border: solid 1px rgb(212, 212, 212);
    border-top: none;
}
.hash_list p {
    margin: 5px;
    font-weight:400;
    color: rgb(80, 80, 80)

}
.hash_list ul {
   list-style: none;
   padding: 0px;
   width: 100%;
}
.hash_list ul li{
     color: black;
     display: flex;
     flex-direction: column;
    margin: 4px;
border-bottom:  0.1px rgb(194, 194, 194) solid;
  
}

.hash_carrousel_imgs {
padding: 5px;
margin: 5px 0px;
width: 20%;

}
.hash_carrousel_imgs ul{
        display: flex;
        list-style: none;
        align-items: center;
    width: 100%;
    
} 
.hash_carrousel_imgs ul li{
    display: flex;
     list-style: none;
     width: 80px;
     height: 80px;
     border: white 1px solid;
   
}


.carrousel_img {
    display: flex;
    justify-content: center;
   max-width: 100%;
  height: auto;
  object-fit: contain;
}

.p_loading{
    font-size: .8em;
    color: crimson;
}


.profile_writer{
        width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px;
          border: solid 1px rgb(212, 212, 212);
          border-right: none;
}



.form_writer {
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
 padding: 5px;
       border: solid 1px rgb(212, 212, 212);
       border-left: none;
}


.post_form {
    width: 95%;
    padding: 2px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    
}

.submit_box_post {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 2px;
}

.userprof_writer {
    padding: 5px;

}

.avatar_profile {
    width: 40px;
    height: 40px;
}

.box_feed {
    margin-top: 20px;
}

.inputs_hash{

    border-top: 5px;
    width: 75%;
      font-size: .7em;
     background-color: whitesmoke;
      border-bottom: none;
  border-radius: 20px;
  padding: 10px;
}

.inputs_hash:focus {
    border: 1px solid rgb(16, 155, 236);
}
.btn_up_image {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 5px;
    width: 70%;
    padding: 4px 0px;
     background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
}
.btn_up_image input:focus {
        border-bottom: 2px solid rgb(16, 155, 236);
}
.Inp_imageurl {
    font-size: .6em;
    padding: 2px;
    width: 100%;
    margin: 0px;
    border-bottom: black 0, 3px solid;
    margin-left: 5px;
  padding: 10px;

}

.putimg {
    width: 16px;
}

.submit_box_post label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_box_post input {
 
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-radius: 20px;
    text-shadow: 0px 1px 0px rgba(67, 68, 68, 1);
    background: radial-gradient(circle, dodgerblue, rgb(2, 202, 216));
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: .6em;
    font-family: 'Poppins', sans-serif;
    animation: moments 5s linear infinite;
    background-size: 300% 300%;
    cursor: pointer;
    padding: 8px 8px;

}

.submit_box_post input:hover {

    background: radial-gradient(circle, dodgerblue, rgba(2, 255, 255, 0.911));
    animation: moments 10s ease infinite;
}
.submit_box_post .disabled_submit {
  background: radial-gradient(circle, rgb(107, 107, 107), rgb(206, 206, 206));
  color: rgb(255, 255, 255);
}
.error {
    display: flex;
    justify-content: center;

}

.error p {
    
    
    margin-right: 5px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    
    color: rgb(214, 27, 27);
    font-weight: 500;
    font-size: .6em;
    font-family: 'Poppins', sans-serif;
    animation: moments 5s linear infinite;
    padding: 5px 5px;
    animation: bounce 7s ease forwards;
}

@keyframes moments {
    0% {
        background-position: 0% 0%;

    }

    50% {
        background-position: 100% 100%;
    }

    0% {
        background-position: 0% 0%;
    }
}