.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: .5em 2em;
}

.brand {
  font-size: 1.2em;


}

.brand span {
  font-weight: 900;
  background: radial-gradient(circle, dodgerblue, rgb(2, 202, 216));
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  animation: moments 5s linear infinite;
  background-size: 300% 300%;
}

@keyframes moments {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  0% {
    background-position: 0% 0%;
  }
}

.brand span:hover {
  background: none;
  color: var(--second-color);
}


.navlinks {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 1em;

}

.field_search {
   display: flex;
  border-radius: 20px;
  
  border: 2px solid dodgerblue;
  padding: .1em .6em;
  
}

.field_search:focus-within{
 border: 3px solid rgba(27, 223, 233, 0.764);
}

.field_search input {
  border: 0px ;
  color: black;
  font-size: 1.2 em;
  font-family: 'Poppins', sans-serif;
  font-weight:4200;
}
.svg_search {
  display: flex;
  align-items: center;
  padding: .2em .1em;
}

.navlinks li  {
display: flex;
}

.navlinks li a {
  margin: .4em .6em;
  padding: .2em .2em;

}

.navlinks li a:hover,
.active {

  background: radial-gradient(circle, dodgerblue, rgb(2, 202, 216));
  background-clip: text;
  color: transparent;
  animation: moments 2s linear infinite;
  background-size: 300% 300%;

}
.icon_logout svg:hover {
fill: radial-gradient(circle, dodgerblue, rgb(2, 202, 216));
  color: transparent;
  animation: moments 2s linear infinite;
  background-size: 300% 300%;
}


@media only screen and (min-width: 0px) and (max-width: 667px) {

  .navlinks a {
    display: none;
  }
}