
.container {
  display: flex;
  min-height: 60vh;
  margin-bottom: 5em;
justify-content: center;

}



@media only screen and (min-width: 0px)
and (max-width: 820px) {
  .container {
margin-bottom: 0px;
  }
}